.box {
    margin: 5px;
    border-radius: 5px;
    cursor: grab;
    box-shadow: 3px 4px 20px 7px rgb(162 167 173 / 80%);
    position: relative;
    background-color: #fafafa;
    margin-bottom: 25px;
    border-bottom: 20px;
}

.remove {
    border: 2px dashed rgba(0, 0, 0, 0.2);
    padding-top: 31px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: grabbing;
}

.remove p,
.remove img,
.remove header {
    opacity: 0;
}

.box header {
    line-height: 20px;
    background-color: #ed8f03;
    color: #fff;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

.box p {
    font-weight: 500;
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 20px 20px 20px 0;
}

.box img {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-top: 5px;
}

.boxContainer {
    padding: 15px;
    width: 266px;
}

.color {
    border: 1px solid rgb(253, 253, 253);
    border-radius: 5px;
    background-color: #fffffff6;
    box-shadow: 0px 0px 5px 5px rgb(192 208 230 / 80%);
}

.deletes {
    margin: 0 !important;
    background: none !important;
    border: 1px solid !important;
    width: 75px !important;
    height: 35px !important;
    transition: .1s ease-in-out;
}

.deletes:hover {
    background: rgba(122, 119, 119, 0.616) !important;
}