.box {
    /* height: 96px;
    width: 158px; */
    margin: 5px;
    border-radius: 5px;
    /* background: linear-gradient(225deg, #e6e6e6, #ffffff); */
    box-shadow: 0px 1px 4px 0 rgba(192, 208, 230, 0.8);
    /* 20px -20px 60px #ffffff;
    background-color: #fcb150; */
    position: relative;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-top: 20px solid rgba(230, 236, 245, 0.4);
    cursor: grab;
}

.remove {
    border: 2px dashed rgba(0, 0, 0, 0.2);
    padding-top: 31px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: grabbing;
}

.remove p,
.remove img,
.remove header {
    opacity: 0;
}

.box header {
    /* position: absolute; */
    line-height: 20px;
    background-color: slateblue;
    color: #fff;
}

.box p {
    font-weight: 500 ;
}

.box img {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-top: 5px;
}

@media (min-width: 780px) {
    .box {
        /* width: 175px; */
    }
}