.loading {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .loading span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #4b8;
    background: #ff9f1a;
    margin: 4px;
    animation: load .6s cubic-bezier(0.6, 0.1, 1, 0.4) infinite alternate;
  }
  .loading span:nth-child(1) {
    animation-delay: 0.1s;
  }
  .loading span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading span:nth-child(3) {
    animation-delay: 0.3s;
  }
  .loading span:nth-child(4) {
    animation-delay: 0.4s;
  }
  @keyframes load {
    from {
      transform: translate3d(0, 0, 0)
    }
    to {
      transform: translate3d(0, 30px, 0)
    }
  }