@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

html, body, #root {
    height: 100%;
}

body {
    font: 14px 'Roboto', sans-serif;
    background-color: #efefef;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.containerRadios {
    display: flex;
    align-items: center;
}

.radios {
    height: 30px;
    width: 30px !important;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: .2s ease-out;
}

.radios.activo {
    height: 20px;
    width: 20px !important;
}
/* background: #FFB75E;
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  
background: linear-gradient(to right, #ED8F03, #FFB75E);  */